@CHARSET "UTF-8";

#in_body{
	margin: 0px;
}
#in_middleTop{
	width: 100%;
	height: 150px;
	position: absolute;
}

#in_middleTop_1{
	width: 200px;
	height:150px;
	margin : 0 auto;
}
#in_logo_semi{
	width: 200px;
	height: 150px;
	z-index: 0;
}

#in_middleCenter{
	width: 100%;
	height: 700px;
	z-index: -1;
	background-color: green;
	overflow: hidden;
}

#in_middleCenter_1{
	width: 100%;
	height: 150px;
	background-color:red;
	margin-top:550px;
	position: relative;
}
.in_mainPic{
	width: 100%;
	height: 700px;
	z-index: -1;
}

